.reserve_container h1{
    color: #495e57;
    font-size: 64px;
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}

.reserve_box{
    background-color: #495e57;
    display: flex;
    border-radius: 30px 30px 0px 0px;
}
 /*-- Styling for the left side of the reservation page --*/

.reserve_box_left{
    padding-top: 50px;
    padding-left: 200px; /*sectioning the left side*/
    position: relative;
}

.reserve_box_left form{
    width: 700px;
    display: flex;
    margin: auto;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Karla";
}

.reserve_box_left form label{
    margin-top: 20px;
}

.reserve_box_left form label p{
    font-size: 15px;
    color: #EE9972;
}


.reserve_box_left form input{
    margin-top: 20px;
    width: 80%;
    height: 40px;
    background-color: #fbdabb;
    border: 1px solid #fbdabb;
    border-radius: 5px;
    padding-left: 10px;
    color: #333333;
}


.reserve_box_left form input:focus{
    outline: 3px solid #333333
}
.reserve_box_left form select:focus{
    outline: 3px solid #333333
}

.reserve_box_left form .times{
    margin-top: 20px;
    width: 40%;
    background-color: #fbdabb;
}

.reserve_box_left form textarea{
    margin-top: 20px;
    width: 80%;
    height: 150px;
    background-color: #fbdabb;
    border: 1px solid #fbdabb;
    border-radius: 5px;
}

.reserve_box_left form select{
    margin-top: 20px;
    width: 80%;
    height: 30px;
    background-color: #fbdabb;
    border: 1px solid #fbdabb;
    border-radius: 5px;
}

/*-- Styling for the right side of the reservation page --*/

.reserve_box_right{
    padding-top: 50px;
    padding-left: 100px;
    position: relative;
}

.reserve_box_right form{
    width: 700px;
    display: flex;
    margin: 20px 0px 0px 0px;
    flex-direction: column;
    gap: 10px;
    background-color: #fbdabb;
    border: 5px solid #fbdabb;
    border-radius: 10px ;
    padding-left: 40px;
    padding-bottom: 50px;
    font-family: "Karla";
}

.reserve_box_right form .booking-norm{
    font-family: "Karla";
    font-size: 32px;
    color: red;
    padding: 20px 0px 0px 0px;
}

.reserve_box_right form .booking-mob{
    color: red;
    display: none;
}

.reserve_box_right form input{
    margin-top: 30px;
    width: 90%;
    height: 40px;
    background-color: #333333;
    color: #fbdabb;
    border: 1px solid #333333;
    border-radius: 5px;
    letter-spacing: 3px;
    padding-left: 10px;
}

.reserve_box_right form input:focus{
    outline: 3px solid #ee9972
}

.reserve_box_right form label{
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}


.reserve_box_right form #checks{
    accent-color: #ee9972;
}

.reserve_box_right form #checks:focus{
    outline: none;
}

.reserve_box_right form label:first-of-type{
    margin-top: 50px;
}

.reserve_box_right form label:last-of-type{
    margin-left: -490px;
    padding: -50px;
}

.reserve_box_right form h3{
    margin: -40px 0px 0px 50px;
}

.reserve_box .confbutton{
    padding: 10px;
    margin: 60px 0px 50px 25px;
    width: 500px;
    height: 100px;
    background-color: #f4ce14;
    border: 1px solid #f4ce14;
    border-radius: 30px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Karla";
}

.reserve_box .confbutton:hover{
    color: #ffffff;
    background-color: #EE9972;
    border: 1px solid #EE9972;
    transition: all 0.3s ease;
    scale: 1.1;
    cursor: pointer;
}

.reserve_box .reserve_menu_link{
    text-decoration: none;
    color: #495E57;
}


@media only screen and (max-width: 600px){
    /*responsive view for mobile view*/
    .reserve_container{
        overflow-x: hidden;
    }

    .reserve_container h1{
        font-size: 40px;
    }

    .reserve_box{
        display: block;
        justify-content: space-between;
    }

    .reserve_box_left {
        padding-left: 40px;
    }

    .reserve_box_left form label{
        font-size: 20px;
    }
    .reserve_box_left form label p{
        font-size: 15px;
    }

    .reserve_box_left form input{
        width: 45%;
    }

    .reserve_box_left form textarea{
        width: 45%;
    }

    .reserve_box_left form select{
        width: 45%;
    }


    .reserve_box_left form .times{
        width: 45%;
    }
    
    .reserve_box_right{
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 150px;
    }

    .reserve_box_right form{
        width: 350px;
        height: 450px;
    }

    .reserve_box_right form .booking-norm{
        font-family: "Karla";
        font-size: 20px;
        display: none;
    }

    .reserve_box_right form .booking-mob{
        font-family: "Karla";
        font-size: 25px;
        display: flex;
        padding-top: 20px;
    }

    .reserve_box_right form label{
        margin-top: 5px;
        font-size: 20px;
    }

    .reserve_box_right form label:first-of-type{
        margin-top: 10px;
    }

    .reserve_box_right form h3{
        display: none;
    }

    .reserve_box .confbutton{
        position: absolute;
        width: 300px;
        height: 50px;
        font-size: 20px;
        padding: 10px;
        margin-left: 5px;
        margin-top: 1200px;
        z-index: 9999;
    }

}