*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.head-container{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 0 1px 3px -2px black;
}
.head-left{
    padding-left: 100px;
}

.head-left img{
    width: 80%;
}

.head-right{
    padding-top: 30px;
}

.nav_menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav_menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 10px;
    font-family: "Markazi Text", serif;
    font-size: 32px;
    color: #495E57;
}

.nav_menu li:hover{
    color: #EE9972;
    scale: 1.1;
}

.nav_menu .nav_menu_link{
    text-decoration: none;
    color: #495E57;
}

.nav_menu .nav_menu_link:hover{
    color: #EE9972;
}

.head-right .menu_drop {
    display: none;
}

@media only screen and (max-width: 600px){

    .head-container{
        overflow-x: hidden;
        width: 100%;
    }
    .head-left{
        padding-left: 10px;
    }

    .head-left img{
        width: 80%;
        margin-top: 10px;
    }

    .head-right .nav_menu{
        display: none;
        padding-right: 100px;
    }

    .head-right .nav_menu.is-open{
        display: inline-block;
        position: absolute;
        left: 290px;
        border-bottom: 1px solid #eee;
        width: 100px;
        padding-left: 50px;
        padding-right: 20px;
        background-color: rgba(255,255,255, 0.75);
        z-index: 9999;
    }

    .head-right .menu_drop {
        display: block;
    }

    .head-right .menu_drop img{
        width: 50px;
    }
}